/* color palette */

:root {
  --background-color: #7DD4a8;
  --module-color: #24211A;
  --module-border-color: #FA7785;
  --active-module-border-color: #7DD4B6;
  --module-item-color: #FA7785;
  --active-module-item-color: #F4F7ED;
  --text-bg-color: #F4F7ED;
  --text-color: #24211A;
  --text-border-color: #24211A;
  --active-text-border-color: #24211A;
  --text-link-color: #7DD4B6;
  --active-text-link-color: #FA7785;
  --container-color: #25a5bf59;
  --container-border-color: #24211A;
  --container-text-color: #24211A;
  --container-link-color: #F4F7ED;
  --active-container-link-color: #7DD4a8;
}

/* text styles */

body {
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'PT Mono', serif;
  font-weight: bolder;
}

h1, p {
  margin-block-start: 0.3em;
  margin-block-end: 0em;
}

.post h1:hover, .post-tile h1:hover {
  color: var(--active-text-link-color);
  transition:all 0.3s ease;
}

.ext h1:hover {
  color: var(--text-color);
}

svg:hover {
  color: var(--active-text-link-color);
  transition:all 0.3s ease;
}


/* formatting styles */

body {
  margin: 0;
  background-color: var(--background-color);
  /*background-image: url(full-bloom-e.png);*/
  /* Background pattern from Toptal Subtle Patterns */
  background-attachment: fixed;
}

#app {
  display: grid;
  grid-template-areas:
  ". . "
  ". main "
  ". . ";
  grid-template-columns: 100px 1fr;
  grid-template-rows: 30px auto 30px;
}

nav {
  align-items: center;
  display: inline-flex;
  flex-flow: column;
  height: 100vh;
  padding: 20px;
  background-color: var(--module-color);
  position: fixed;
}

nav div {
  margin-bottom: 15px;
  margin-top: 10px;
}

nav svg, .container svg {
  color: var(--module-item-color);
}

nav svg:hover, .container svg:hover {
  color: var(--active-module-item-color);
}

nav form {
  margin-bottom: 15px;
}

nav input {
  border-color: var(--module-border-color);
  height: 22px;
  margin-right: 2px;
  vertical-align: middle;
}

nav label {
  vertical-align: middle;
}

input {
  background-color: var(--active-module-item-color);
  border-color: var(--module-color);
  border-style: solid;
  border-width: 5px;
  border-radius: 5px;
  padding: 5px;
}

#main {
  grid-area: main;
  height: 100vh;
}

.container {
  background-color: var(--container-color);
  border-color: var(--text-border-color);
  border-style: solid;
  border-width: 5px;
  border-radius: 5px;
  color: var(--text-color);
  display: grid;
  font-size: 1.1em;
  font-weight: bold;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  width: 400px;
}

.container input {
  border: 5px var(--text-color) solid;
  background-color: var(--text-bg-color);
}

.container svg {
  color: var(--text-color);
}

.container svg:hover {
  color: var(--text-bg-color);
}

.login {
  grid-template-areas: ". login-form .";
  grid-template-columns: 1fr 6fr 1fr;
}

.register {
  grid-template-areas: ". signup .";
  grid-template-columns: 1fr 6fr 1fr;
}

.login-form {
  grid-area: login-form;
}

.signup {
  grid-area: signup;
}

.aggregate {
  display: grid;
  grid-template-areas: 
    "view";
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  padding: 10px;
}

.bead {
  display: grid;
  grid-template-areas:
    "references"
    "view"
    "responses";
  grid-template-rows: 200px 1fr 200px;
  grid-template-columns: 1fr;
  padding: 10px;
}

.references {
  grid-area: references;
}

.responses {
  grid-area: responses;
}

.panel {
  display: inline-flex;
}

.view {
  grid-area: view;
  padding: 5px;
}

.flex-flow-row-wrap {
  display: inline-flex;
  flex-flow: row wrap;
}

.post {
  border: 5px solid;
  border-color: var(--text-border-color);
  border-radius: 5px;
  background-color: var(--text-bg-color);
  color: var(--text-color);
  display: grid;
  grid-template-areas:
    "title"
    "content"
    "."
    "options";
  grid-template-rows: auto auto auto 1em;
  grid-gap: 20px;
  max-height: none;
  min-height: none;
  max-width: 400px;
  min-width: 200px;
  margin: 10px;
  padding: 20px;
}


.tile {
  border: 5px solid;
  border-color: var(--text-border-color);
  border-radius: 5px;
  background-color: var(--text-bg-color);
  color: var(--text-color);
  display: grid;
  max-height: 140px;
  min-height: 140px;
  padding: 15px;
}

.post:hover {
  border-color: var(--active-text-border-color);
  transition:all 0.3s ease;
}

.title {
  grid-area: title;
  max-width: 400px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.content {
  grid-area: content;
}

.options {
  display: grid;
  grid-area: options;
  grid-template-areas: "user . bookmarker respond edit";
  grid-template-columns: 4fr auto auto auto auto;
  grid-gap: 1em;
}

.user {
  grid-area: user;
}

.user i, .user b {
  margin-right: 1em;
}

.username {
  color: var(--active-text-link-color);
}

.bookmarker {
  grid-area: bookmarker;
  /*margin-right: 50px;*/
}

.respond {
  grid-area: respond;
}

.edit {
  grid-area: edit;
}

