<!DOCTYPE html>
<html>
<head>
	<title>Glassbeads</title>
	<link rel="stylesheet" href="/static/glassbeads.css">
</head>
<body>
	<noscript>You need to enable JavaScript to run Glassbeads.</noscript>

  <div id="app">
    <nav>
      <a id="home" href=""><img src="" alt="Home" /></a>
      <a id="bookmarks" href=""><img src="" alt="Bookmarks" /></a>
      <a id="userroot" href=""><img src="" alt="Root" /></a>
      <a href="/addpost"><img src="" alt="Add" /></a>
      <a id="user-settings" href=""><img src="" alt="Settings" /></a>
      <img id="search" src="" alt="Search">
        <form id="search-form"
        action="#"
        style="display: none">
          <input id="search-terms" type="text" name="terms">
          <input type="submit" value="submit">
        </form>
      <img src="" alt="Logout" />
      <form id="login" action="">
        <input id='uid-setter' type="number" name="uid" style="width: 50px;"><br>
        <input type="submit" value="login">
      </form>
    </nav>

  	{% block body %}{% endblock %}
  </div>

  	<script crossorigin type="text/javascript" src="https://unpkg.com/react@16/umd/react.development.js"></script>
  	<script crossorigin type="text/javascript" src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
  	<script crossorigin type="text/javascript" src="https://unpkg.com/@babel/standalone/babel.min.js" ></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  	<!--
  		<script type="text/jsx" src="/static/App.jsx"></script>
  	-->
    <script type="text/javascript">
        
        const homeLink = document.querySelector('#home')
        const bookmarksLink = document.querySelector('#bookmarks')
        const rootLink = document.querySelector('#userroot')
        const userSettingsLink = document.querySelector('#user-settings')
        const searchLink = document.querySelector("#search")
        const searchForm = document.querySelector("#search-form")

        const loginForm = document.querySelector('#login')

        function updateLinks(uid) {
          homeLink.setAttribute("href", `/aggregate?api=.users.${uid}.following.recent-posts`);
          bookmarksLink.setAttribute("href", `/aggregate?api=.users.${uid}.bookmarks`);
          rootLink.setAttribute("href", `/aggregate?api=.users.${uid}.posts`);
          userSettingsLink.setAttribute('href', `/edituser?uid=${uid}`)
        }

        function searchToggle(evt) {
          evt.preventDefault();
          if (searchForm.style.display === "none") {
            searchForm.style.display = "block"; 
          } else {
            searchForm.style.display = "none";
          }
        }

        function searchForTerms(evt) {
          evt.preventDefault();
          let searchTerms = evt.target.elements.terms.value
          if (searchTerms) {
            let searchURI = `/aggregate?api=.posts.search?terms=${searchTerms}`;
            window.location.href = searchURI;
          } 
        }

        if (document.cookie) {
          loginForm.elements.uid.value = parseInt(document.cookie.slice(4));
          updateLinks(loginForm.elements.uid.value);
        }

        loginForm.addEventListener('submit', (evt) => {
          evt.preventDefault();
          let uid = loginForm.elements.uid.value;
          uid = 'uid='+uid;
          document.cookie = uid;
          updateLinks(uid.slice(4));
          });

        searchLink.addEventListener('click', searchToggle);
        searchForm.addEventListener('submit', searchForTerms);

    </script>
  	{% block js %}{% endblock %}
</body>
</html>
