{% extends 'base.html' %}

{% block body %}
	<div className="edit view" id="main">
		<form class="editor" method="POST" action="/posts/{{post.id}}/edit"><input type="number" name="user_id" hidden value="{{post.user_id}}">
			references: <input type="text" name="references" value="{{references}}">
			title: <input type="text" name="title" value="{{post.title}}">
			content: <input type="text" name="content" value="{{post.content}}">
			submit: <input type="submit" value="submit">
		</form>
	</div>
{% endblock %}

{% block js %}
	<script type="text/javascript" src="/static/editpost.js"></script>
{% endblock %}
