<!DOCTYPE html>
<html>
<head>
	<title>Glassbeads</title>
	<link rel="stylesheet" href="/static/glassbeads.css">
</head>
<body>
	<noscript>You need to enable JavaScript to run Glassbeads.</noscript>

	<div id="root"></div>

  	<script crossorigin type="text/javascript" src="https://unpkg.com/react@16/umd/react.development.js"></script>
  	<script crossorigin type="text/javascript" src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
  	<script crossorigin type="text/javascript" src="https://unpkg.com/@babel/standalone/babel.min.js" ></script>
  	<script type="text/jsx" src="/static/App.jsx"></script>
</body>
</html>
